* {
    box-sizing: border-box;
}

/* general styles */
html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1.8rem;
    margin: 0;
}

header,
.container,
footer {
    padding: 1em;
}

header {
    position: relative;
}

.links-list div,
.statistics-info div {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;

}

/* Typography */
h1 {
    font-size: 3.8rem;
    line-height: 1.1;
    margin-bottom: .2em;
}

h1,
h2,
h3 {
    color: hsl(260, 8%, 14%);
}

p {
    color: hsl(257, 7%, 63%);
}

.info,
h2,
h3,
p,
nav,
footer {
    text-align: center;
}

/* navigation */
.dropdown {
    float: right;
    font-size: 1.5rem;
}

ion-icon {
    height: 34px;
    width: 34px;
    color: hsl(0, 0%, 75%);
}

nav {
    display: none;
    position: absolute;
    background-color: hsl(257, 27%, 26%);
    width: 90%;
    border-radius: 10px;
    top: 3.4em;
    left: 1em;
    padding: .5em 1em;
}

.dropdown:focus-within+nav {
    display: block;
}

ul {
    list-style: none;
    padding-left: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: .3em;

}

nav ul:first-child {
    border-bottom: .2px solid hsl(257, 7%, 63%);
    padding-bottom: 1.2em;
}

nav li {
    padding: .5em;
}

ul a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

img {
    width: 100%;
}

/* info section */
.info div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main */
.container {
    background-color: hsl(260, 16%, 89%);
    padding-top: 5em;
    padding-bottom: 0;
}

/* shortened links */
.links-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.links-list div {
    padding: .5em;
}

/* buttons */
button,
.sign-up {
    color: hsl(0, 0%, 100%);
    background-color: hsl(180, 66%, 49%);
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: .5em;
    font: inherit;
    cursor: pointer;
    display: block;
}

.sign-up {
    border-radius: 20px;
}

.get-started {
    border-radius: 20px;
    width: 50%;
}

.copied {
    background-color: hsl(260, 8%, 14%);
}

/* form */
form {
    background-image: url(./images/bg-shorten-mobile.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-color: hsl(257, 27%, 26%);
    padding: 1.2em;
    position: relative;
    top: 5em;
    border-radius: 10px;
}

input,
button {
    appearance: none;
}

form input,
form button {
    width: 100%;
}

input {
    padding: .5em;
    font: inherit;
    margin-bottom: .7em;
    border-radius: 5px;
}

.error {
    display: none;
}

/* statistics section */
.statistics-info div {
    padding: 1.2em;
}

.statistics-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: hsl(260, 16%, 89%);
}

.statistics-info .image-div {
    background-color: hsl(257, 27%, 26%);
    border-radius: 50%;
    object-fit: contain;
    height: 80px;
    width: 80px;
}

.image-div .image-div img {
    height: 40px;
    width: 40px;
}

/* today section */
.today {
    background-image: url(./images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(257, 27%, 26%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.today h2 {
    color: hsl(0, 0%, 100%);
}



/* #url:invalid+.error {
    visibility: visible;
} */

/* footer */
footer {
    background-color: hsl(260, 8%, 14%);
    color: hsl(0, 0%, 100%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}